.container {
    display: grid;
    /* grid-template-rows: 100px auto 100px; */
    grid-template-rows: auto;
    /* grid-template-columns: 100px auto; */
    grid-template-columns: 100%;
    /* grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer" ; */
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
  }

  .header {grid-area: header;}
  .sidebar{grid-area: sidebar;}
  .footer{grid-area: footer;}
  .content{grid-area: content;}